In [ ]:
import pandas as pd

In [ ]:
url="https://raw.githubusercontent.com/softwareWCU/Data-Preprocessing-for-ML-using-Titanic-Dataset/main/titanic2.csv"
df=pd.read_csv(url)

In [ ]:
url="https://raw.githubusercontent.com/softwareWCU/Data-Preprocessing-for-ML-using-Titanic-Dataset/main/titanic2.csv"
df=pd.read_csv(url)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  909 non-null    int64
 1   Survived     909 non-null    int64
 2   Pclass       909 non-null    object
 3   Name         909 non-null    object
 4   Sex          909 non-null    object
 5   Age          710 non-null    float64
 6   SibSp        909 non-null    int64
 7   Parch        909 non-null    int64
 8   Ticket       909 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        208 non-null    object
 11  Embarked     907 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 85.3+ KB

In [ ]:
df.describe()

       PassengerId    Survived         Age       SibSp       Parch        Fare
count   909.000000  909.000000  710.000000  909.000000  909.000000  891.000000
mean    446.040704    0.387239   29.603169    0.522552    0.380638   31.431149
std     257.212740    0.487387   14.566894    1.098050    0.802185   46.797866
min       1.000000    0.000000    0.420000    0.000000    0.000000    0.000000
25%     224.000000    0.000000   20.000000    0.000000    0.000000    7.895800
50%     445.000000    0.000000   28.000000    0.000000    0.000000   14.454200
75%     669.000000    1.000000   38.000000    1.000000    0.000000   30.847900
max     891.000000    1.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            199
SibSp            0
Parch            0
Ticket           0
Fare            18
Cabin          701
Embarked         2
dtype: int64

In [ ]:
df.nunique()

PassengerId    891
Survived         2
Pclass           4
Name           892
Sex              7
Age             87
SibSp            7
Parch            7
Ticket         681
Fare           246
Cabin          147
Embarked         9
dtype: int64

In [ ]:
# Step 1: Import Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import joblib

# Step 2: Load Dataset
df = pd.read_csv(url)  # Replace with your actual file path

# Step 3: Handle Missing Values
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Fare'].fillna(df['Fare'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df.drop(columns=['Cabin'], inplace=True)

# Step 4: Extract Title from Name
df['Title'] = df['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)
title_map = {
    'Mr': 1, 'Miss': 2, 'Mrs': 3, 'Master': 4, 'Dr': 5, 'Rev': 6,
    'Col': 7, 'Major': 8, 'Mlle': 2, 'Countess': 3, 'Mme': 3,
    'Don': 1, 'Lady': 3, 'Sir': 1, 'Jonkheer': 1, 'Capt': 7
}
df['Title'] = df['Title'].map(title_map).fillna(0)

# Step 5: Fix Pclass Format
df['Pclass'] = df['Pclass'].astype(str)
df['Pclass'] = df['Pclass'].str.replace('st', '', regex=False)
df['Pclass'] = df['Pclass'].str.replace('nd', '', regex=False)
df['Pclass'] = df['Pclass'].str.replace('rd', '', regex=False)
df['Pclass'] = df['Pclass'].str.strip()
df['Pclass'] = df['Pclass'].astype(int)

# Step 6: Encode Categorical Features
label = LabelEncoder()
df['Sex'] = label.fit_transform(df['Sex'])
df['Embarked'] = label.fit_transform(df['Embarked'])

# Step 7: Select Features and Target
features = ['Pclass', 'Sex', 'Age', 'Fare', 'SibSp', 'Parch', 'Title']
target = 'Survived'
X = df[features]
y = df[target]

# Step 8: Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 9: Train Model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Step 10: Evaluate Model
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

# Step 11: Save Model
joblib.dump(model, 'titanic_model.pkl')

/tmp/ipython-input-3455518454.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-3455518454.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fare'].fillna(df['Fare'].median(), inplace=True)
/tmp/ipython-input-3455518454.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

Accuracy: 0.8186813186813187
              precision    recall  f1-score   support

           0       0.79      0.90      0.84        99
           1       0.86      0.72      0.78        83

    accuracy                           0.82       182
   macro avg       0.83      0.81      0.81       182
weighted avg       0.82      0.82      0.82       182

['titanic_model.pkl']