In [ ]:
!git clone https://chere-collab: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@github.com/chere-collab/Data-Preprocessing-for-MLL-using-Titanic-Dataset.git

fatal: destination path 'Data-Preprocessing-for-MLL-using-Titanic-Dataset' already exists and is not an empty directory.

In [ ]:
!ls /content

Data-Preprocessing-for-MLL-using-Titanic-Dataset  sample_data

In [ ]:
import os
os.chdir('/content/Data-Preprocessing-for-MLL-using-Titanic-Dataset')

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/softwareWCU/Data-Preprocessing-for-ML-using-Titanic-Dataset/main/titanic2.csv')  # Adjust filename if needed
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",Female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Drop irrelevant columns
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

# Fill missing values
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

/tmp/ipython-input-362820386.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-362820386.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [ ]:
print(df.columns)

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [ ]:
# Clean 'Sex' column
df['Sex'] = df['Sex'].astype(str).str.strip().str.lower()

# Clean 'Pclass' column
df['Pclass'] = df['Pclass'].astype(str).str.replace('rd', '').str.strip().astype(int)

# Clean 'Embarked' column
df['Embarked'] = df['Embarked'].astype(str).str.strip().str.lower().map({
    'c': 'c', 'cherbourg': 'c',
    'q': 'q', 'queenstown': 'q',
    's': 's', 'southampton': 's'
})

# Fill missing values
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

/tmp/ipython-input-3602954729.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-3602954729.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Encode categorical features
le_sex = LabelEncoder()
le_embarked = LabelEncoder()

df['Sex'] = le_sex.fit_transform(df['Sex'])  # male=1, female=0
df['Embarked'] = le_embarked.fit_transform(df['Embarked'])  # s=2, c=0, q=1

# Create new feature
df['FamilySize'] = df['SibSp'] + df['Parch']

In [ ]:
df.to_csv('titanic_cleaned.csv', index=False)

In [ ]:
df.isnull().sum()

Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare          18
Embarked       0
FamilySize     0
dtype: int64

In [ ]:
# Fill missing Fare with median (or drop the row)
df['Fare'].fillna(df['Fare'].median(), inplace=True)

/tmp/ipython-input-457836109.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fare'].fillna(df['Fare'].median(), inplace=True)

In [ ]:
assert df.isnull().sum().sum() == 0, "There are still missing values!"

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

# Prepare data
X = df.drop('Survived', axis=1)
y = df['Survived']

# Scale features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split data
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Train KNN
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

# Predict and evaluate
y_pred = knn.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.7692307692307693
              precision    recall  f1-score   support

           0       0.76      0.85      0.80        99
           1       0.79      0.67      0.73        83

    accuracy                           0.77       182
   macro avg       0.77      0.76      0.76       182
weighted avg       0.77      0.77      0.77       182

In [ ]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
FamilySize    0
dtype: int64

In [ ]:
# Get info about columns, data types, and non-null counts
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    909 non-null    int64
 1   Pclass      909 non-null    int64
 2   Sex         909 non-null    int64
 3   Age         909 non-null    float64
 4   SibSp       909 non-null    int64
 5   Parch       909 non-null    int64
 6   Fare        909 non-null    float64
 7   Embarked    909 non-null    int64
 8   FamilySize  909 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 64.0 KB
None

In [ ]:
pd.set_option('display.max_columns', None)


print(df.head())

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  FamilySize
0         0       3    1  22.0      1      0   7.2500         2           1
1         1       1    0  38.0      1      0  71.2833         0           1
2         1       3    0  26.0      0      0   7.9250         2           0
3         1       1    0  35.0      1      0  53.1000         2           1
4         0       3    1  35.0      0      0   8.0500         2           0

In [ ]:
!git add titanic_cleaned.csv
!git commit -m "Added cleaned Titanic dataset CSV file"
!git push origin main

Author identity unknown

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@6fd2080cc9f4.(none)')
Everything up-to-date

In [ ]:
# Step 4: Configure Git and commit your notebook
!git config --global user.email "cherinetbekele451@gmail.com"
!git config --global user.name "chere-collab"

!git add MachineLearning.ipynb
!git commit -m "Added MachineLearning.ipynb with data cleaning and preprocessing function"

fatal: pathspec 'MachineLearning.ipynb' did not match any files
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [ ]:
!git push origin main

Everything up-to-date

In [ ]:
%cd /content/Data-Preprocessing-for-MLL-using-Titanic-Dataset
!git add MachineLearning.ipynb
!git commit --amend -m "Data preprocessing – restored missing steps and finalized cleaning function"

/content
fatal: pathspec 'MachineLearning.ipynb' did not match any files
[main 943f6de] Data preprocessing – restored missing steps and finalized cleaning function
 Date: Thu Nov 20 09:45:40 2025 +0000
 1 file changed, 55 deletions(-)
 delete mode 100644 MachineLearning.ipynb

In [ ]:
!git push origin main --force

Enumerating objects: 3, done.
Counting objects: 100% (3/3), done.
Delta compression using up to 2 threads
Compressing objects: 100% (1/1), done.
Writing objects: 100% (2/2), 280 bytes | 280.00 KiB/s, done.
Total 2 (delta 1), reused 1 (delta 1), pack-reused 0
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/chere-collab/Data-Preprocessing-for-MLL-using-Titanic-Dataset.git
 + e579a3d...943f6de main -> main (forced update)

In [ ]:
%cd /content/Data-Preprocessing-for-MLL-using-Titanic-Dataset
!git rm MachineLearning.ipynb
!git commit -m "Removed mistakenly pushed notebook"
!git push origin main

/content
fatal: pathspec 'MachineLearning.ipynb' did not match any files
On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean
Everything up-to-date