<a href="https://colab.research.google.com/github/marefuabebe/Data-Preprocessing-for-ML-using-Titanic-Dataset/blob/main/Titanic_Full_Data_Cleaning_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
url = "https://raw.githubusercontent.com/softwareWCU/Data-Preprocessing-for-ML-using-Titanic-Dataset/main/titanic2.csv"
df = pd.read_csv(url)

In [ ]:

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",Female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  909 non-null    int64
 1   Survived     909 non-null    int64
 2   Pclass       909 non-null    object
 3   Name         909 non-null    object
 4   Sex          909 non-null    object
 5   Age          710 non-null    float64
 6   SibSp        909 non-null    int64
 7   Parch        909 non-null    int64
 8   Ticket       909 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        208 non-null    object
 11  Embarked     907 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 85.3+ KB

In [ ]:
# Summary statistics
df.describe(include="all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,909.000000,909.000000,909,909,909,710.000000,909.000000,909.000000,909,891.000000,208,907
unique,NaN,NaN,4,892,7,NaN,NaN,NaN,681,NaN,147,9
top,NaN,NaN,3,"Harper, Miss. Annie Jessie ""Nina""",male,NaN,NaN,NaN,347082,NaN,G6,S
freq,NaN,NaN,490,2,537,NaN,NaN,NaN,7,NaN,4,600
mean,446.040704,0.387239,NaN,NaN,NaN,29.603169,0.522552,0.380638,NaN,31.431149,NaN,NaN
std,257.212740,0.487387,NaN,NaN,NaN,14.566894,1.098050,0.802185,NaN,46.797866,NaN,NaN
min,1.000000,0.000000,NaN,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,224.000000,0.000000,NaN,NaN,NaN,20.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN
50%,445.000000,0.000000,NaN,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,669.000000,1.000000,NaN,NaN,NaN,38.000000,1.000000,0.000000,NaN,30.847900,NaN,NaN
max,891.000000,1.000000,NaN,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [ ]:
# Check missing values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            199
SibSp            0
Parch            0
Ticket           0
Fare            18
Cabin          701
Embarked         2
dtype: int64

In [ ]:
# Check duplicates
df.duplicated().sum()

np.int64(10)

In [ ]:
df.drop(columns=["PassengerId","Name","Ticket","Cabin"], inplace=True)
df.head()

   Survived Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0      3    male  22.0      1      0   7.2500        S
1         1      1  female  38.0      1      0  71.2833        C
2         1      3  Female  26.0      0      0   7.9250        S
3         1      1  female  35.0      1      0  53.1000        S
4         0      3    male  35.0      0      0   8.0500        S

In [ ]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Fare'] = df['Fare'].fillna(df['Fare'].median())


df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

/tmp/ipython-input-2750842681.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-2750842681.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [ ]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [ ]:
df['Sex'] = df['Sex'].str.lower()
df['Embarked'] = df['Embarked'].str.upper()

In [ ]:
df['Sex'] = df['Sex'].str.lower()
df['Embarked'] = df['Embarked'].str.upper()

In [ ]:
def remove_outliers(col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5*IQR
    upper = Q3 + 1.5*IQR
    df[col] = df[col].clip(lower, upper)

remove_outliers('Age')
remove_outliers('Fare')

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Sex'] = le.fit_transform(df['Sex'])
df['Embarked'] = le.fit_transform(df['Embarked'])

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Sex'] = le.fit_transform(df['Sex'])
df['Embarked'] = le.fit_transform(df['Embarked'])

In [ ]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  909 non-null    int64
 1   Pclass    909 non-null    object
 2   Sex       909 non-null    int64
 3   Age       909 non-null    float64
 4   SibSp     909 non-null    int64
 5   Parch     909 non-null    int64
 6   Fare      909 non-null    float64
 7   Embarked  909 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 56.9+ KB

,Survived,Sex,Age,SibSp,Parch,Fare,Embarked
count,909.000000,909.000000,909.000000,909.000000,909.000000,909.000000,909.000000
mean,0.387239,0.682068,28.934543,0.522552,0.380638,23.554460,3.253025
std,0.487387,0.525891,11.952013,1.098050,0.802185,19.868548,1.310666
min,0.000000,0.000000,2.500000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,22.000000,0.000000,0.000000,7.925000,3.000000
50%,0.000000,1.000000,28.000000,0.000000,0.000000,14.454200,4.000000
75%,1.000000,1.000000,35.000000,1.000000,0.000000,30.500000,4.000000
max,1.000000,2.000000,54.500000,8.000000,6.000000,64.362500,5.000000

In [ ]:
df.to_csv("titanic_cleaned.csv", index=False)
print(" File saved as titanic_cleaned.csv")

 File saved as titanic_cleaned.csv